@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-colors duration-200 bg-rs-background-1 text-rs-text-primary 
  text-base antialiased w-screen h-screen;
  scrollbar-width: none;
  overscroll-behavior-y: contain;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

input {
  @apply outline-none bg-rs-background-2;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  width: 10px;
}
