@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-colors duration-200 bg-rs-background-1 text-rs-text-primary 
  text-base antialiased w-screen h-screen;
  overscroll-behavior-y: contain;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

input {
  @apply outline-none bg-rs-background-2;
}


::-webkit-scrollbar {
  @apply bg-rs-background-2 w-4;
}

::-webkit-scrollbar-track {
  @apply bg-rs-background-2;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    @apply bg-rs-background-3 border-solid border-4 
    border-rs-background-2 rounded-[16px];
}

::-webkit-scrollbar-button {
    display:none;
}

#dice-box-canvas {
  width: 80%;
  position: fixed;
  height: 80%;
  top: 10%;
  left: 10%;
}
